<div class="container">
  <div id="cabecera" class="row">
    <div class="col s12">
      <h3 class="tituloModulo" >Módulo CRUD de Empleados</h3>
      <p>A continuación podrá agregar empleados a la Base de Datos en MongoDB, actualizar la información, visualizar todos los empleados 
        y si lo desea, puede eliminar algún registro.
      </p>
    </div>
  </div>

  <div id="agregarVer" class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #formEmpleado="ngForm" (ngSubmit)="agregarEmpleado(formEmpleado)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]= "empleadoService.selectedEmpleado._id">
            <div class="row">
              <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.nombre" placeholder="Ingrese su nombre">
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">work</i>
                <input type="text" name="cargo" #cargo="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.cargo" placeholder="Ingrese el cargo" enabled>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">add_location</i>
                <input type="text" name="oficina" #oficina="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.oficina" placeholder="Ingrese su oficina">
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">attach_money</i>
                <input type="text" name="salario" #salario="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.salario" placeholder="Ingrese su salario">
              </div>
              <div class="card-action center">
                <div class="input-field cols12">
                    <button class="btn-left waves-effect waves-light btn" style="margin-right: 2px" (click)="resetFormulario(formEmpleado)">Limpiar</button>
                  <button class="btn-right waves-effect waves-light btn">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col s7">
      <table>
        <thead>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Oficina</th>
          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleadoService.empleados" >
            <td>{{ empleado.nombre}}</td>
            <td>{{ empleado.cargo}}</td>
            <td>{{ empleado.oficina}}</td>
            <td class="center">
              <a (click)="editarEmpleado(empleado)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="borrarEmpleado(empleado._id)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>